#
#

snippet #! "#!/usr/bin/env python" b
#!/usr/bin/env python3

#
# Mathieu Marchildon
#

import numpy as np
import matplotlib.pyplot as plt

$0
endsnippet


snippet def "define function" b
def $1($2):
	$0

	return 0
endsnippet
